<html>
    <head>
      <style>
            .card {
                width: 100%;
                max-width: 800px;
                margin: 0 auto;
                padding: 2rem;
                box-sizing: border-box;
                border: 1px solid #ddd;
                border-radius: 4px;
            }
            .left {
                float: left;
            }
            .right {
                float: right;
            }

              .left.logo {
                  text-align: center;

              }

              .lucida {
                  font-family: 'Lucida Grande', 'lucida console', 'sans-serif';
                  font-weight: bold;
              }

              .address {
                  text-transform: uppercase;
                  font-size: 12px;
              }

              .left.logo img {
                  max-width: 300px;
                  max-height: 140px;
              }
              h1 {
                  font-family: 'Lucida Grande', 'lucida console', 'sans-serif';
                  font-size: 64px;
                  font-weight: 100;
                  margin-bottom: 0;
                  margin-top: 0;
              }
            h2 {
                clear: both;
                font-family: 'Monaco', 'sans-serif';
                font-size: 48px;
                text-align: center;
                font-weight: 100;
            }
              .card {
                  background-color: rgba(255, 174, 66, 0.23);
              }
            .cause {
                color: #19A89D;
                font-size: 14px;
                font-family: 'Lucida Grande', 'lucida console', 'sans-serif';
                font-weight: bold;
            }
            .cause img {
                display: block;
                float: left;
            }
            .cause p {
                display: block;
                float: left;
                margin: 0;
            }
              .clearfix {
                  clear: both;
              }
            .giveloco img {
                width: 122px;
            }
              .fineprint {
                  width: 70%;
                  font-size: 12px;
              }
              .fineprint p {
                  margin: 0;
              }
      </style>
    </head>
    <body>
        <div>
          <p>
            Success! <%= @certificate.sponsorship.cause.company_name %> just received a donation of $<%= @certificate.donated_amount %> as a result of your purchase.
            Way to support your community.
          </p>
          <p>
            You now have a gift certificate to <%= @certificate.sponsorship.business.company_name %> worth $<%= @certificate.purchase_amount %>.
            Just show this gift certificate next time you shop at this business.
          </p>
          <p>
          Know of some businesses you’d like to see on our platform? Send us an email with your
          suggestions to support@giveloco.com . Together, we can make this community of giving grow.
          </p>
          <p>
            All the best from the team here at GiveLoco!
          </p>
          <p>
            GiveLoco Team
          </p>
          <p>
            Because investing in community is good business
          </p>
        </div>
        <div class="card">
            <div class="left logo">
              <% biz = @certificate.sponsorship.business %>
              <div>
                <%= image_tag biz.profile_picture.url %>
              </div>
              <p class="address lucida">
                <%= biz.street_address %> <br />
                <%= biz.city %>, <%= biz.state %><br />
                <%= biz.zip %>, <%= biz.country %><br />
              </p>
            </div>
            <div class="right">
              <h1>$<%= @certificate.amount.to_i %> Value</h1>
              <div class="cause">
                <%= image_tag 'money_icon.png' %>
                <p>
                    $<%= @certificate.donated_amount %> was donated to: <br />
                    <%= @certificate.sponsorship.cause.company_name %>
                </p>
              </div>
            </div>
          <div class="clearfix"></div>
            <h2><%= @certificate.redemption_code %></h2>
            <div class="left fineprint lucida">
              <p>
                Redeeming this certificate is the sole responsibility of <%= @certificate.sponsorship.business.company_name %>.
                Visit <a href="http://giveloco.com">GiveLoco.com</a> for Terms and Conditions.
              </p>
            </div>
            <div class="right giveloco">
              <%= image_tag 'small_teal_trademarked_logo.png' %>
            </div>
          <div class="clearfix"></div>
        </div>

    </body>
</html>