<html>
    <head>

    </head>
    <body>

        <h4>
          Hey there <%= @user.first_name %> <%= @user.last_name %>!
        </h4>

        <p>
          Welcome to the GiveLoco community. You're awesome and we are excited to have you on board.
        </p>
        <p>
          Before we start, we'll just need you to <%= link_to 'click here', confirmation_url(@resource, confirmation_token: @token, only_path: false) %> to confirm your account to ensure that you are not a robot. If the link does not work, copy and paste this URL in your browser:
          <br />
          <%= confirmation_url(@resource, confirmation_token: @token, only_path: false) %>
        </p>
        <p>
          If you received this email by mistake, simply reply to let us know. You won't be signed-up if you don't click the confirmation link above.
        </p>
        <p>
          For even more information on how it works, what we do, or if you just want to say hi and offer feedback feel free to shoot us an email at <%= link_to 'community@giveloco.com', 'mailto:community@giveloco.com' %>.
        </p>
        <p>
          All the best,
          <br />
          The GiveLoco Team
        </p>
        <p>
          Give local with your everyday purchases at <a href="http://giveloco.com" title="GiveLoco">GiveLoco.com</a>!
        </p>

        <p>
          <a href="http://giveloco.com" title="GiveLoco"><img src='<%= image_url 'small_teal_trademarked_logo.png', :only_path => false %>' alt="GiveLoco" /></a>
        </p>
    </body>
</html>
